body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1{
    text-align: center;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.carousel-container {
    position: relative;
    min-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    width: 1500px;
    height: 90vh;
    transition: all 1s ease;
    
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: black;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}
