body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

input[type="text"] {
  padding: 8px;
  width: 70%;
  margin-right: 10px;
}

button {
  padding: 11px 16px;
  cursor: pointer;
  background-color: #1b7e0e;
  color: #fff;
  border: none;
}
button:hover {
  background-color: rgb(11, 201, 11);
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

th {
  background-color: #1b7e0e;
  color: #fff;
}
