body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(49, 77, 54, 0.1);
    min-width: 600px;
    text-align: center;
}

#quote {
    font-size: 30px;
    margin-bottom: 10px;
    padding-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1a3519;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #bdd8bf;
    color: black;
}
